@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CINEMAX</h1>
    <p>The oficial website for Cinemax, home of action-packed original series, find movies to watch.</p>
</div>
