@model IEnumerable<MovieTypeModel>
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between mt-4">
    <h4>Categorii</h4>
    <div>
        <a asp-controller="MovieType" asp-action="Create" class="btn btn-success">Categorie Noua</a>
    </div>
</div>
<table class="table table-bordered table-striped mt-4">
    <thead >
        <tr >
            <th class="bg-primary text-white">Nume Categorie</th>
            <th class="bg-primary text-white">Descriere</th>
            <th class="bg-primary text-white">Operatiuni</th>
        </tr>
    </thead>
    <tbody >
        @foreach(var movietype in Model)
        {
            <tr >
                <td class="bg-dark text-white">@movietype.Name</td>
                <td class="bg-dark text-white">@movietype.Description</td>
                <td>
                    <a asp-controller="MovieType" asp-action="Update" asp-route-id="@movietype.Id" class="btn btn-warning">Modifica</a>
                    <a asp-controller="MovieType" asp-action="Delete" asp-route-id="@movietype.Id" class="btn btn-danger">Sterge</a>
                </td>
            </tr>
        }
    </tbody>

</table>

